body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #fff8fa, #ffeef2, #fffdf9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.card {
    background: #ffffffd9;
    padding: 30px;
    border-radius: 22px;
    box-shadow: 0 10px 30px rgba(0,0,0,.12);
    text-align: center;
    max-width: 700px;
}
.cat {
    width: 180px;
}
.hidden {
    display: none;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    position: relative;
}
button {
    padding: 14px 30px;
    border: none;
    border-radius: 14px;
    font-size: 22px;
    cursor: pointer;
}
#yes {
    background: #ff5c93;
    color: #fff;
    position: relative;
    left: -100px;
}
#no {
    background: #777;
    color: #fff;
    position: fixed;
    left: 50%;
    top: 58.5%;
    transition: left 0.08s linear, top 0.08s linear;
    z-index: 10;
}
.sad-smile {
    position: fixed;
    left: 50%;
    top: 58.5%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    z-index: 1;
    pointer-events: none;
    user-select: none;
}
.heart {
    position: fixed;
    top: -40px;
    pointer-events: none;
    animation: fall 6s linear forwards;
}
@keyframes fall {
    to {
        transform: translateY(115vh);
        opacity: 0;
    }
}
